{% extends 'base.html' %}

{% block title %}CV list{% endblock %}

{% block content %}
    <div class="container py-5">
        <h2>All CVs</h2>
            <ul class="list-group">
                {% for cv in cvs %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ cv.full_name }}
                        <a href="{% url 'cv_pdf' cv.pk %}" class="btn btn-sm btn-success">Download PDF</a>
                    </li>
                {% empty %}
                    <li class="list-group-item">No CVs yet.</li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}